<div class="row">
    <div class="col-md-2">
        <div class="card custom-card-bg">
            <img src="https://picsum.photos/200/150?random=1" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Post 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="postDetail" class="btn btn-primary">Detalhes</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card custom-card-bg">
            <img src="https://picsum.photos/200/150?random=2" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Post 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="postDetail" class="btn btn-primary">Detalhes</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card custom-card-bg">
            <img src="https://picsum.photos/200/150?random=3" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Post 3</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="postDetail" class="btn btn-primary">Detalhes</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card custom-card-bg">
            <img src="https://picsum.photos/200/150?random=4" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Post 4</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="postDetail" class="btn btn-primary">Detalhes</a>
            </div>
        </div>
    </div>
</div>
